<!-- Contenedor de contenido, contiene contenido de la página -->
<div class="content wrapper">
  <!-- Encabezado de contenido (encabezado de página)-->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-orange">Panel </h1>
        </div> <!-- col-->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
          </ol>
        </div> <!-- ./columna-->
      </div> <!-- /.fila-->
    </div>  <!-- contenedor fluido -->
  </div>
  <!-- /. content-header -->

  <!-- Contenido principal -->
  <section class="content">
    <div class="container-fluid">
      <!-- Cajas pequeñas (cuadro de estadísticas) -->
      <div class="roe">
        <div class="col-lg-3 col-6">
          <!-- caja pequeña -->
          <div class="small-box bg-info">
            <div class="inner">
              <h1></h1>

              <p>Empleado</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="empleado" class="small-box-footer">Continuar <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </section>
